<div class="container">
  <div class="indexDiv">
    <h1 class="display-4"><%= title %></h1>

  

    <h3>Database contains the following:</h3>

    <div class="category-card">
      <div>
        <strong>Products</strong> 
        <div class="icon product-icon">
          <i class="fas fa-cube"></i> <!-- Replace "fas fa-cube" with the appropriate class for your product icon -->
          <p><%= product_count %></p>
        </div>
      </div>
     <div>
      <strong>Categories</strong> 
      <div class="icon category-icon">
        <i class="fas fa-folder"></i> <!-- Replace "fas fa-folder" with the appropriate class for your category icon -->
        <p><%= category_count %></p>
      </div>
     </div>
    </div>
  </div>
</div>
