<div class="container">
  <div class="indexDiv">
    <h1 class="display-4"><%= title %></h1>

    <p class="lead">
      Welcome to <em><%= title %></em>, the place where you can manage your
      products.
    </p>

    <h3>Database contains the following:</h3>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>Products:</strong> <%= product_count %>
      </li>
      <li class="list-group-item">
        <strong>Categories:</strong> <%= category_count %>
      </li>
    </ul>
  </div>
</div>
