<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      .table-container {
        width: 100%;
        overflow-x: auto;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
        margin-left: auto;
        margin-right: auto;
      }
      
      th,
      td {
        padding: 5px;
        text-align: left;
        border: 1px solid #ddd;
      }
      
      th {
        white-space: nowrap;
        background-color: rgb(82, 82, 255);
        color: white;
      }
      
      .description-column {
        width: 45%;
      }
      
      tbody tr:last-child td {
        border-bottom: none;
      }
      
      /* Responsive Styles */
      
      @media screen and (max-width: 600px) {
        table {
          font-size: 12px;
        }
        
        th,
        td {
          padding: 3px;
        }
      }
      
      @media screen and (max-width: 400px) {
        table {
          font-size: 10px;
        }
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="">
      <div class="container">
        <div class="sidebar">
          <h3>RONEX</h3>
          <ul class="nav">
            <li><a href="/catalog">Home</a></li>
            <li><a href="/catalog/products">All products</a></li>
            <li><a href="/catalog/categories">All categories</a></li>
            <hr>
            <li><a href="/catalog/product/create">Create product</a></li>
            <li><a href="/catalog/category/create">Create category</a></li>
          </ul>
        </div>
        <div class="main-content">
          <%- include(content) %>
        </div>
      </div>
    </div>
  </body>
</html>
