<div class="container">
    <div class="indexDiv">

<h1> <%= product.name %></h1>

  <p>Do you really want to delete this category?</p>
  <form method="POST" action="">
    <div class="form-group">
      <input id="productid" class="form-control" type="hidden" name="productid" required="true" value="<%= product._id %>">
    </div>
    <button class="btn btn-primary" type="submit">Delete</button>
  </form>
    </div>
    </div>