<div class="container">
    <div class="indexDiv">
        <h1><%=title%></h1>
        <ul>
            <%for(const product of products){%>
                <li><a href=<%=product.url%>><%=product.name%> price: <%=product.price%></a></li>
                <%}%>
        </ul>
    </div>
</div>