<div class="container">
    <div class="indexDiv">
      <h1><%= product.name %></h1>
      <p><strong>Category:</strong> <%= product.category.name %></p>
      <p><strong>Description:</strong> <%= product.description %></p>
      <p><strong>Price:</strong> <%= product.price %></p>
    </div>
  </div>
  